In [73]:
import pandas as pd
import numpy as np
import re

In [74]:
node_set = set([])
edge_list = []

In [75]:
f = open('./node_link_dataset/download.tsv.convote/convote/out.convote')
lines = f.readlines()

nodes = {}

for line in lines[1:]:
    splitted_line = re.split(r'[ \n]', line)
    splitted_line.pop()
    edge_list.append({'Source':splitted_line[0], 'Target':splitted_line[1], 'Type':'Directed', 'Weight':int(splitted_line[2])})
    node_set.add(splitted_line[1])
    node_set.add(splitted_line[0])

In [76]:
node_list = []
for i in node_set:
    node_list.append({'Id' : i, 'Label' : i})

nodes_df = pd.DataFrame(node_list)
nodes_df

      Id Label
0    166   166
1    182   182
2    108   108
3     44    44
4    143   143
..   ...   ...
214    4     4
215  173   173
216  212   212
217  155   155
218  134   134

[219 rows x 2 columns]

In [77]:
edges_df = pd.DataFrame(edge_list)
edges_df

    Source Target      Type  Weight
0        1      2  Directed       1
1        1      2  Directed       1
2        1      2  Directed       1
3        1      3  Directed      -1
4        1      4  Directed      -1
..     ...    ...       ...     ...
759     18     42  Directed      -1
760     18     10  Directed      -1
761     42     18  Directed      -1
762     42     17  Directed       1
763     42    195  Directed      -1

[764 rows x 4 columns]

In [78]:
edges_df.to_csv("./node_link_dataset/edges.csv", index=False)
nodes_df.to_csv("./node_link_dataset/nodes.csv", index=False)